<style>
 body {
   font-family: Arial, sans-serif;
    margin: 40px;
    box-sizing: border-box;
    
    
 }
    h1 { font-size: 28px; margin-bottom: 0; }
    h2 { color: #2aa863;font-size: 18px; margin-top: 3px;}
    h3 { color: #4089d1; font-size: 20px;}
    
    hr { 
    border: none; 
    height: 3px ;
    margin: 0 0 20px 0;
    padding-right: 100px;
    width: 50%; 
    background-color: #343534; 
    }
  
  </style>
